<!DOCTYPE html>
<!-- saved from url=(0033)http://a.petite7.cn/articles/3130 -->
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, Chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>{{ group_push.wx_name }}</title>
    <link rel="stylesheet" href="/asset/css/index.css">
    {#<script async src="/asset/gtag.js?id=UA-113338210-24"></script>#}
    {#<script>#}
        {#window.dataLayer = window.dataLayer || [];#}
        {#function gtag() {#}
            {#dataLayer.push(arguments);#}
        {#}#}
        {#gtag('js', new Date());#}
        {#gtag('config', 'UA-113338210-24');#}
    {#</script>#}
</head>
<body id="activity-detail" class="zh_CN mm_appmsg">
<div class="rich_media_inner">
    <div id="page-content" class="rich_media_area_primary">
        <div id="img-content">
            <h2 class="rich_media_title" id="activity-name">{{ group_push.msg_title }}</h2>
            <div id="meta_content" class="rich_media_meta_list">
                <span id="copyright_logo" class="rich_media_meta meta_original_tag">原创</span>
                <em id="post-date" class="rich_media_meta rich_media_meta_text">{{ "now"|date('Y-m-d', timezone="Europe/Paris") }}</em>
                <em class="rich_media_meta rich_media_meta_text"></em>
                <a href="{{ group_push.host_url }}" class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" id="post-user"
                   style="color: #8c8c8c">{{ group_push.wx_name }}</a>
                <a href="https://5bmoo.cn/report3/" class="report">投诉</a>
                <img src="http://tps.beemo.cn/static/luodiye/image/tanhaot.png" alt="" style="width: 15px; "
                     class="report_img">
            </div>
            <div style="text-align: center; " class="img">
                {#<img style="max-width:100%;" src="http://tps.beemo.cn/static/tool_image/20180919151744_GDgUuyITBs_8489.jpg"><br>#}
            </div>
            <div class="wx-article-content mt10"
                 style="margin-top: 10px; font-size: 16px; word-wrap: break-word; color: rgb(103, 106, 109); font-family: Helvetica, Verdana, 微软雅黑, &quot;Source Sans Pro&quot;, sans-serif;">
                <!--<section style="max-width: 100%; color: rgb(62, 62, 62); line-height: 28.4444px; font-family: 微软雅黑; overflow-wrap: break-word !important;"><section style="max-width: 100%; border-width: 0px; border-style: none; border-color: currentcolor; overflow-wrap: break-word !important;"><section style="margin-top: 10px; margin-bottom: 10px; max-width: 100%; text-align: center; overflow-wrap: break-word !important;"><section style="display: inline-block; max-width: 100%; vertical-align: middle; overflow-wrap: break-word !important;"><section style="max-width: 100%; overflow-wrap: break-word !important;"><section style="max-width: 100%; width: 5px; height: 2px; border-radius: 3px 3px 0px 0px; float: left; background-color: rgb(218, 203, 158); overflow-wrap: break-word !important;"></section><section style="max-width: 100%; width: 5px; height: 2px; border-radius: 3px 3px 0px 0px; float: right; background-color: rgb(218, 203, 158); overflow-wrap: break-word !important;"></section><section style="max-width: 100%; clear: both; overflow-wrap: break-word !important;"></section></section><section style="padding: 2px 10px; max-width: 100%; border-left: 5px solid rgb(218, 203, 158); border-right: 5px solid rgb(218, 203, 158); border-top-color: rgb(218, 203, 158); border-bottom-color: rgb(218, 203, 158); color: rgb(255, 255, 255); background-color: rgb(249, 110, 87); overflow-wrap: break-word !important;"><section class="" data-brushtype="text" style="max-width: 100%; overflow-wrap: break-word !important;">第一章</section></section><section style="max-width: 100%; overflow-wrap: break-word !important;"><section style="max-width: 100%; width: 5px; height: 2px; border-radius: 0px 0px 3px 3px; float: left; background-color: rgb(218, 203, 158); overflow-wrap: break-word !important;"></section><section style="max-width: 100%; width: 5px; height: 2px; border-radius: 0px 0px 3px 3px; float: right; background-color: rgb(218, 203, 158); overflow-wrap: break-word !important;"></section><section style="max-width: 100%; clear: both; overflow-wrap: break-word !important;"></section></section></section></section></section>-->

                {% autoescape false %}
                    {{content}}
                {% endautoescape %}
                <p style="text-indent: 0">未完待续……</p>
                <p style="color: #e83632; font-weight: bold; margin-top: 0; font-size: 26px;text-indent: 0">
                    ↓↓↓</p>
                <div class="showDetail">
                    <a href="{{ group_push.read_url }}">点我看下一章</a>
                </div>
                <div class="rich_media_tool" id="js_toobar3" style="margin-top: 10px">
                    <div id="js_read_area3" class="media_tool_meta tips_global meta_primary">阅读
                        <span id="readNum3">100000+</span>
                    </div>
                    <span class="media_tool_meta meta_primary tips_global meta_praise" id="like3">
                            <i class="icon_praise_gray"></i>
                            <span class="praise_num" id="likeNum3">98620</span>
                        </span>
                    <a href="https://5bmoo.cn/report3/" class="report" style="float: right">投诉</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
